langchain
langchain-core
langchain-community
langchain-text-splitters


langchain-openai
openai

langchain-huggingface
sentence-transformers

langchain-groq 
groq

faiss-cpu

langchain-chroma  
chromadb


pypdf
lxml

tiktoken

jupyter 
notebook 
ipykernel

numpy 
matplotlib

ragas 
datasets
seaborn
pandas 
opik

python-dotenv
jq 
unstructured