langchain
langchain-core
langchain-community
langchain-text-splitters

langchain-openai

langchain-huggingface
sentence-transformers
transformers

langchain-groq 

faiss-cpu

langchain-chroma  
chromadb

pypdf
lxml

tiktoken

jupyter 
notebook 
ipykernel

numpy 
matplotlib

ragas 
datasets
seaborn
pandas 
opik

python-dotenv
jq 
unstructured
datasets

docling
docling-core[chunking]
langchain-docling 

unstructured
langchain-unstructured
unstructured-inference

llama-parse
llama-index
llama-cloud-services
llama-index-vector-stores-chroma
llama-index-embeddings-openai
llama-index-llms-openai
nest-asyncio

openpyxl
pdfminer.six
pi-heif

python-docx
python-pptx
Pillow

vectorize-client
deepeval
